<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD23Sp_Group39Project"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAEs77j6a63rVS9tbwhbzaSUs6rX6D6fBc" />
        <activity
            android:name=".FinalWorkoutDetailActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutTimerActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".WorkoutPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ChartsActivity"
            android:exported="false"
            android:label="@string/title_activity_charts"
            android:theme="@style/Theme.NUMAD23Sp_Group39Project.NoActionBar" />
        <activity
            android:name=".FinalLoginActivity"
            android:exported="false" />
        <activity
            android:name=".FinalMainActivity"
            android:exported="false" />
        <activity
            android:name=".StickerHistory"
            android:exported="false" />
        <activity
            android:name=".StickerCount"
            android:exported="false" />
        <activity
            android:name=".StickerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".StickerSender"
            android:exported="false" />
        <activity
            android:name=".ShowResult"
            android:exported="false" />
        <activity
            android:name=".APIService"
            android:exported="false" />
        <activity
            android:name=".AboutMe"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>